h2 {font-family:Arial; color: rgb(0, 26, 255);}
h3 {font-family:serif; color: rgb(0, 26, 255);}
h1 {font-family:monospace; color: rgb(0, 26, 255);}
h4 {font-family:cursive; color: rgb(0, 26, 255);}
h5 {font-family:fantasy; color: rgb(0, 26, 255);}
h6 {font-family:initial; color: rgb(0, 26, 255);}
